.header {
  background-color: #282c34;
  min-height: 10vh;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 25px;
  
  #title{
  margin-top: 2.3%;
  margin-left: 10px;
 float: left;
  }

  
  #newTask{
    margin-top: 2%;
    margin-right: 10px;
    float: right;

    .newTaskButton{
     border: 1px solid white; 
     padding: 8px;

    }
  }
} 